.subtitle-left {
    display: inline-block;
    position: relative;
    padding-left: 103px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    /* identical to box height, or 145% */
    letter-spacing: 7.33333px;
    text-transform: uppercase;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 80px;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.5;
    }
}

.main {
    background-color:#171919;
}

.section-title {
    position: relative;
    padding-left: 245px;
}

.subtitle-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 86px;
    text-transform: uppercase;
    color: #FFFFFF;

    span {
        font-weight: 100;
    }
}

.section-subtitle {
    padding-right: 75px;
    text-align: right;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 999;
}

.slider-arrows__left {
    right: 125px;
}
