.holder-slider {
    .slider-arrows {
        top: 240px;
        opacity: 0.5;
    }

    &.shop {
        .slider-arrows{
            top: 0;
        }
    }

    &__shop-content {
        display: flex;
    }

    &__shop-text {
        width: 490px;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            max-width: 290px;
            margin-bottom: 200px;
            font-weight: 800;
            font-size: 24px;
            line-height: 1;
            text-transform: uppercase;
        }

        span {
            margin-bottom: 25px;
            padding-left: 70px;
            font-weight: 800;
            font-size: 28px;
            line-height: 40px;
            text-transform: uppercase;
        }
    }

    &__shop-img {
        margin-right: 76px;
    }

    &__shop-product {
        display: flex;
    }

    &__shop-model {
        display: flex;
        flex-direction: column;
        align-items: center;

        &+.holder-slider__shop-model {
            margin-left: 60px;
        }

        p {
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            text-transform: uppercase;
            opacity: 0.5;
        }

        span {
            padding-left: 0;
            margin-bottom: 0;
        }

        img {
            margin-bottom: 36px;
            min-height: 105px;
        }
    }
}

.holder-slider__head {
    min-height: 780px;
    background-repeat: no-repeat;

    &.shop {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        background-position: right;
    }
}

.holder-slider__item-price {
    position: relative;
    max-width: 100px;
    margin-top: 9px;
    margin-bottom: 64px;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;

    &::after {
        content: "99";
        position: absolute;
        top: -5px;
        right: 5px;
        font-size: 18px;
    }
}


.holder-slider__subtitle {
    padding-top: 132px;
}

.holder-slider__descr {
    margin-top: -290px;
    padding-top: 175px;
    min-height: 310px;

    background-repeat: no-repeat;
    background-position: top right ;

    &.shop {
        max-width: 500px;
        margin-top: 0;
        min-height: unset;
    }
}

.holder-slider__avia-logo {
    display: inline-block;
    margin-left: 25px;
}

.holder-slider__info {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 66px;
}

.holder-slider__info-item {
    position: relative;
    max-width: 300px;
    min-height: 200px;
}

.holder-slider__item-descr {
    display: inline-block;
    position: absolute;
    top: 85px;
    left: -90px;
    min-width: 200px;

    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 8px;
    text-transform: uppercase;

    opacity: 0.5;
    transform: rotate(-90deg);
}

.holder-slider__item-title {
    position: relative;
    padding-left: 40px;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;

    .descr {
        position: absolute;
        bottom: -30px;
        right: 0;

        font-weight: 400;
        font-size: 14px;
        letter-spacing: 5.25px;
        text-transform: uppercase;
        opacity: 0.75;
    }
}

.holder-slider__btn {
    padding-bottom: 20px;
    text-align: center;
}

.slick-slide img {
    display: inline-block;
}


