.title-02 {
    display: inline-block;
    position: relative;
    font-weight: 800;
    font-size: 80px;
    line-height: 156px;
    text-transform: uppercase;
    color: #FFFFFF;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 35px;
        right: 0;
        width: 80px;
        height: 1px;
        background-color: $accent-color;
    }
}