.travel-slider {
    .slider-arrows {
        top: 240px;
        opacity: 0.5;
    }
}

.travel-slider__head {
    min-height: 780px;
    background-repeat: no-repeat;
}


.travel-slider__subtitle {
    padding-top: 132px;
}

.travel-slider__descr {
    margin-top: -290px;
    padding-top: 175px;
    min-height: 310px;

    background-repeat: no-repeat;
    background-position: top right ;
}

.travel-slider__avia-logo {
    display: inline-block;
    margin-left: 25px;
}

.travel-slider__info {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 66px;
}

.travel-slider__info-item {
    position: relative;
    max-width: 300px;
    min-height: 200px;
}

.travel-slider__item-descr {
    display: inline-block;
    position: absolute;
    top: 85px;
    left: -90px;
    min-width: 200px;

    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 8px;
    text-transform: uppercase;

    opacity: 0.5;
    transform: rotate(-90deg);
}

.travel-slider__item-title {
    position: relative;
    padding-left: 40px;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;

    span {
        position: absolute;
        bottom: -30px;
        right: 0;

        font-weight: 400;
        font-size: 14px;
        letter-spacing: 5.25px;
        text-transform: uppercase;
        opacity: 0.75;
    }
}

.travel-slider__btn {
    padding-bottom: 20px;
    text-align: center;
}

.slick-slide img {
    display: inline-block;
}


