.holder {
    padding-top: 160px;
    padding-bottom: 260px;

    &--travel {
        background-image: url(../img/travel/travel-cocktail.png);
        background-position: bottom right;
        background-repeat: no-repeat;
    }

    &--sleep {
        padding-bottom: 160px;
        background-image: url(../img/sleep/frangipani.png);
        background-position: bottom right;
        background-repeat: no-repeat;

        &__rating {
            display: flex;
            align-items: center;

            .rating {
                margin-left: 25px;
            }
        }
    }
}
