.surf {
    padding-top: 160px;
    padding-bottom: 120px;
    background-image: url(../../img/surf/poi-map.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 200px;

    @media (max-width: 1040px) {
        padding-top: 100px;
        padding-bottom: 80px;
        background-position: right 50px;
    }

    @media (max-width: 640px) {
        padding-top: 40px;
        padding-bottom:0;
        background: none;
    }
}

.container-serf {
    margin: 0 auto;
    max-width: 1376px;
}