.surf {
    padding-top: 157px;
    padding-bottom: 120px;
    background-image: url(../../img/surf/poi-map.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 200px;
}